.control {
  margin-bottom: rem(48px);
}

.control__group {
  display: flex;
  gap: rem(20px);
  margin-bottom: rem(16px);
}

.control__label {
  cursor: pointer;
  display: flex;
}

.form__title {
  margin-bottom: rem(5px);
}

.control__input {
  display: none;
  &:checked + .control__radio::before {
    display: block;
  }
  &:checked + .control__checkbox::before {
    display: block;
  }
}

.control__radio {
  width: rem(26px);
  height: rem(26px);
  border-radius: 50%;
  background: #fff; 
  margin-right: rem(10px);
  position: relative;
}

.control__radio::before {
  content: "";
  top: 50%;
  left: 50%;
  width: rem(13px);
  height: rem(13px);
  border-radius: 50%;
  background: #E01F3D; 
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
}

.control__checkbox {
  width: rem(26px);
  height: rem(26px);
  background: #fff; 
  margin-right: rem(10px);
  position: relative;
  border-radius: rem(4px);
}

.control__checkbox::before {
  background: url(../img/checkmark.png) center center no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: rem(15px);
  height: rem(15px);
  display: none;
}

