.fixed-menu {
  position: fixed;
  top: 34%;
  right: 4%;
  z-index: 100;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(5px);
  &--active {
    .fixed-menu__link {
      border: 1px solid $red;
    }
    .fixed-menu__link::before {
      background: $red;
    }
  }
}

.fixed-menu__link {
  display: block;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    opacity: 60%;
    background: $black;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}
