.hero {
  padding: rem(26px) 0 rem(62px);
  align-items: stretch;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background: url(../img/hero-decor.svg);
    width: 47px;
    height: 11px;
    bottom: 2px;
    right: 10%;
  }

  @include tablets {
    padding: 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:url(../img/hero.png) center right 4% no-repeat;
  
  @include tablets {
    background: url(../img/hero2.png) top 27% center no-repeat;
  }

  @include phones {
    background: url(../img/hero2.png) top 23% center no-repeat;
  }
}

.hero__content {
  max-width: rem(400px);

  @include tablets {
    max-width: 100%;
    text-align: center;
    padding: 0 10% 17%;
  }

  @include phones {
    padding: 0 10% 8%;
  }
}

.hero__main-title {
  margin-bottom: rem(22px);
  
  @include tablets {
    margin-bottom: rem(16px);
  }
}

.hero__subtitle {
  font-family: 'Alegreya Sans', Arial, sans-serif;
  margin-bottom: rem(32px);
  font-size: rem(22px);
  line-height: 1.18;
  max-width: rem(334px);

  @include tablets {
    max-width: 100%;
    padding: 0 16%;
  }
}