.menu {
  font-size: rem(18px);
  font-family: 'Alegreya Sans', Arial, sans-serif;
  padding: rem(8px) rem(24px) 0 rem(12px);

  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  gap: rem(28px);
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  white-space: nowrap;
}