.review {
  background: #fff;
}

.review__main-title {
  text-align: center;
  margin-bottom: rem(24px);
}

.review__content {
  display: flex;
  background: #F8FAF9;
  padding: rem(40px) rem(140px) rem(40px) rem(40px);
  margin-bottom: rem(15px);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: rem(83px);
    height: rem(83px);
    position: absolute;
    top: rem(-62px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
  }

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: 56px 23px;
    text-align: center;
  }
}

.review__img-box {
  width: rem(253px);
  height: rem(264px);
  flex-shrink: 0;
  margin-right: rem(40px);
  
  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin: 0;
  }
}

.review__desc {
  padding-top: rem(30px);
}

.review__title {
  margin-bottom: rem(24px);
}

.review__text {
  margin-bottom: rem(40px);
  line-height: 1.15;
  color: $gray;
}

.review__author {
  font-size: rem(18px);
  font-weight: bold;
}

.review__list {
  display: flex;
  justify-content: center;
  gap: rem(10px);
}

.review__item {
  width: rem(74px);
  height: rem(74px);
  overflow: hidden;
  border-radius: 50%;
  border: rem(5px) solid transparent;
  transition: border-color .5s;
  &:hover, &--active {
    border-color: $red;
  }
}