.why {
  background: #fff;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../img/why-decor2.svg);
    width: 34px;
    height: 34px;
    bottom: -7px;
    left: 8%;
  }
}

.why__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: rem(600px);

  @include phones {
  width: 96%;
  }
}

.why__main-title {
  margin-bottom: rem(18px);
}

.why__subtitle {
  margin-bottom: rem(66px);
  line-height: 1.1;
  color: $gray;
}

.why__list {
  display: flex;
  gap: rem(76px);

  @include tablets {
    gap: 4%;
  }

  @include phones {
    flex-direction: column;
  }
}

.why__item {
  display: flex;
  flex-direction: column;
  max-width: rem(255px);
  align-items: center;
  position: relative;
  flex: 1;

  &::before {
    content: "";
    position: absolute;
    background: url(../img/why-decor.svg);
    width: rem(68px);
    height: rem(22px);
    right: rem(-70px);
    top: rem(60px);
    display: block;
  }
  
  &:last-child::before {
    display: none;
  }

  @include tablets {
    &::before {
      display: none;
    }
  }

  @include phones {
    flex-direction: row;
    margin-bottom: rem(30px);
    max-width: rem(480px);
  }
}

.why__img-bg {
  display: flex;
  background: #F2F5F4;
  border-radius: 50%;
  width: rem(128px);
  justify-content: center;
  height: rem(128px);
  align-items: center;
  margin-bottom: rem(20px);

  @include phones {
    width: rem(128px);
    height: rem(128px);
    margin-bottom: 0;
  }
}

.why__img {
  width: rem(68px);
  height: rem(68px);
}

.why__func {
  margin-bottom: rem(4px);
  text-align: center;
}

.why__text {
  color: $gray;
  text-align: center;
  line-height: 1.2;

  @include phones {
    max-width: rem(340px);
  }
}
